<div>
    <div class="flex justify-between items-center pb-2 flex-shrink-0">
        <h2 class="text-xl font-semibold text-gray-800">Incoming Call List</h2>
    </div>

    <div class="space-y-3 flex-grow overflow-y-auto">
        <!-- Static Incoming Call Item 1 -->
        <div *ngFor="let call of incomingCallList$ | async">
            <div class="flex justify-between items-center text-sm border-t pt-2 pr-3">
                <div class="flex items-center animate-ring">
                    <div class="w-2 h-2 rounded-full bg-emerald-400 ring-emerald-300 ring-1 animate-ping mr-3 mx-3"></div>
                    <p class="font-medium text-gray-900">{{ call?.caller_name || "Command Center" }}</p>
                    <!-- atau lihat semua -->
                </div>
                <div class="space-x-2 flex-shrink-0" >
                    <button class="text-emerald-400 hover:text-emerald-600 font-medium p-1 rounded hover:bg-emerald-50" (click)="acceptCall(call)">Accept</button>
                    <button class="text-red-600 hover:text-red-800 font-medium p-1 rounded hover:bg-red-50" (click)="rejectCall(call)">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>