<div>
    <div class="flex justify-between items-center pb-2 flex-shrink-0">
        <h2 class="text-xl font-semibold text-gray-800">Missed Call List</h2>
        <a href="#" class="text-sm font-medium text-emerald-400 hover:text-emerald-800">All</a>
    </div>

    <div class="space-y-3 flex-grow overflow-y-auto">
        <!-- Static Missed Call Item 1 -->
        <div class="flex justify-between items-center text-sm border-t pt-2 pr-3">
            <div>
                <p class="font-medium text-gray-900">Denerslight Main Gate</p>
                <p class="text-gray-500">3 Minutes ago</p>
            </div>
            <a href="#" class="text-emerald-400 hover:underline">Call Back</a>
        </div>
        <!-- Static Missed Call Item 2 -->
        <div class="flex justify-between items-center text-sm border-t pt-2 pr-3">
            <div>
                <p class="font-medium text-gray-900">Glendale Park South Gate</p>
                <p class="text-gray-500">Yesterday</p>
            </div>
            <a href="#" class="text-emerald-400 hover:underline">Call Back</a>
        </div>
        <!-- Static Missed Call Item 3 -->
        <div class="flex justify-between items-center text-sm border-t pt-2 pr-3">
            <div>
                <p class="font-medium text-gray-900">Ether Luxur South Gate</p>
                <p class="text-gray-500">9 September 2025</p>
            </div>
            <a href="#" class="text-emerald-400 hover:underline">Call Back</a>
        </div>
    </div>
</div>