@if (!showUnauthorized && !isLoading) {
    <div class="w-full min-h-screen p-6">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-4 lg:grid-rows-[2fr_3fr] h-[95vh]">
            <app-missed-calls class="lg:col-start-1 lg:row-start-1 bg-white rounded-xl shadow-xl/30 p-6 overflow-y-auto flex flex-col" />
            <app-incoming-calls class="lg:col-start-2 lg:row-span-2 bg-white rounded-xl shadow-xl/30 p-6 overflow-y-auto flex flex-col" />
            <app-video-calls class="lg:col-span-2 lg:row-span-2" />
            <app-history-calls class="lg:col-start-1 lg:row-start-2 bg-white rounded-xl shadow-xl/30 p-6 overflow-y-auto flex flex-col" />
        </div>

    </div>
}

@if (isLoading) {
    <div class="loading">
    Loading...
    </div>
}

@if (showUnauthorized && !isLoading) {
    <div class="unauthorized-page">
      <h1>401 - Unauthorized</h1>
      <p>You don't have permission to access this page.</p>
      <p>{{ authError }}</p>
    </div>
}

