<div>
    <div class=" bg-white rounded-xl shadow-xl/30 p-4 flex flex-col">
        <div class="flex justify-between items-center mb-4 flex-shrink-0">
            <h2 class="text-xl font-semibold text-gray-800">Intercom Video (Glendale Park South Gate)</h2>
            <div class="space-x-2 flex-shrink-0">
                <button class="px-3 py-1 text-sm font-medium text-white bg-emerald-400 rounded hover:bg-emerald-700 transition">Take Snapshot</button>
                <button class="px-3 py-1 text-sm font-medium text-white bg-red-600 rounded hover:bg-red-700 transition" (click)="endCall()">End Call</button>
            </div>
        </div>

        <!-- Video Placeholder -->
        <video id="local-video" class="hidden"></video>
        <div class="w-full h-full" [ngClass]="{'hidden': callStatus == 'calling'}">
            <video id="remote-video" class="rounded-lg bg-black w-full aspect-16/9 object-cover"></video>
        </div>
        <div *ngIf="callStatus == 'calling'">
            <div
              class="rounded-lg bg-black w-full aspect-video flex flex-col items-center justify-center text-white text-xl font-semibold space-y-2"
            >
              <span>{{ ongoingCallRecord?.caller_name }}</span>
              <span class="animate-pulse text-lg">Calling...</span>
            </div>
        </div>
    </div>
</div>